cmudict
cn2an
g2p_en
gradio==3.50.2
jieba
librosa==0.9.2
loguru
num2words
numpy
onnxruntime
pyannote.audio>=3.1.0
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
tf-nightly
torch
torchaudio
torchvision
transformers
umap-learn
monotonic_align
WeTextProcessing>=0.1.10; platform_system != "Windows"
vector_quantize_pytorch
